@model (string[] Words, int Score)

<div style="text-align: center;">
	<h1>Boggle</h1>
	<p>Valid Submitted Words:</p>
	@foreach (var word in Model.Words)
	{
		<li>@word</li>
	}
	<p>Score: @Model.Score</p>
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Play Again</a>