<h2>Enter IP Address and select option:</h2>

<form method="post" asp-action="Connect">
	<div class="form-group">
		<label>IP Address:</label>
		<input type="text" name="ipAddress" class="form-control" />
	</div>

	<div class="form-group">
		<label><input type="radio" name="connectionType" value="host" /> Host</label>
	</div>

	<div class="form-group">
		<label><input type="radio" name="connectionType" value="join" /> Join</label>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Connect</button>
	</div>
</form>